@model List<Document>

@{
    ViewData["Title"] = "Список документов";
    const string controllerName = "DocumentManagement";
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("_MainButtonPanel", controllerName)

<table class="table table-striped table-hover" id="dataTable">
    <thead>
    <tr>
        <th>Название</th>
        <th>Раздел</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var document in Model)
    {
        <tr>
            <td class="align-middle">@document.Name</td>
            <td class="align-middle">@document.Category</td>
            <td class="align-middle">
                <button class="btn btn-primary" onclick="openDocument('@Url.Action("Document", "DocumentView")' + '?fileId=' + '@document.Id')">
                    Просмотр
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>

@await Html.PartialAsync("~/Views/DocumentView/Form.cshtml")