@model List<DocumentView>

@{
    ViewData["Title"] = "Просмотр документов";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Название документа</th>
        <th>Ознакомлен</th>
        <th>Дата ознакомления</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var document in Model)
    {
        <tr>
            <td class="align-middle">@document.Name</td>
            <td class="align-middle">@(document.IsReviewed ? "Да" : "Нет")</td>
            <td class="align-middle">@(document.ReviewDate.HasValue ? document.ReviewDate.Value.ToShortDateString() : "")</td>
            <td class="align-middle">
                <button class="btn btn-primary"
                        onclick="openDocument('@Url.Action("Document", "DocumentView")' + '?fileId=' + '@document.Id')">
                    Просмотр
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>

@await Html.PartialAsync("Form")